nav {
  background-color: red;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
h1 {
  font-size: 1.75em;
}
.navlink {
  margin: 0.83em;
  transform: translateY(30%);
  font-size: large;
  text-decoration: none;
  color: white;
  font-weight: 500;
}
#search-btn {
  height: 35px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
#searchbox {
  /* margin-top:2px; */
  height: 30px;
  width: 50vw;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  font-size: larger;
}
.inputs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin: auto;
}
