.results {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.video-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1200px;
}

.video-results li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #444;
  padding: 20px;
  border-radius: 4px;
  transition: transform 0.3s ease-in-out;
}

.video-results li:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.446);
}

.video-results li img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.video-results li h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
